/*
Aluna: Marina Margarida de Oliveira
Matrícula: ##.#.####

Aluno: Vitor de Siqueira Cotta
Matrícula: 14.1.8143

Disciplina: CSI477 - SISTEMAS WEB I - Turma 11
Professor: FERNANDO BERNARDES DE OLIVEIRA
Atividade: Trabalho
Data: ##/##/2018
*/

/*TAGS*/

body {
    background: dodgerblue;
}

figure {
    background: green;
    padding: 10px;
}

figcaption {
    color: white;
    font-size: 20px;
    text-align: center;
}

footer {
    background-color: #222;
    bottom: 0;
    color: white;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
}

legend {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

main {
    background-color: ghostwhite;
    min-height: 1000px;
    background:rgba(255,255,255,0.9);
}

h1 {
    margin-top: 0px;
}

/*CLASSES*/

.navbar {
    margin-bottom: 0px;
}

/*ID*/

body {
    background-image: url(img/live-1532301_1920.jpg);
}